
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Background */
*
{
    font-family: "Roboto", serif;
}

.hero-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/img-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Header */

.font-resto
{
    font-family: "Allura", serif;
}

.font-roboto
{
    font-family: "Roboto", serif;
}

/* Hero section */

.content-subtitle
{
    font-size: 8rem;
    letter-spacing: 1rem;
}

.hero-section h2.font-resto {
    font-size: 5rem;
}

.book-button
{
    background-color: transparent;
    border: 2px solid white;
    margin-top: 4rem;
    color: white;
}

.book-button:hover
{
    transition: all 0.4s;
    background-color: white;
    color: black;
}

.content-title
{
    color: #92623f;
    font-size: 3rem;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .hero-section h2.font-resto {
        font-size: 2.5rem; /* Taille réduite pour mobile */
    }

    .hero-section h1.font-roboto {
        font-size: 3.5rem; /* Taille réduite pour mobile */
    }
    .book-button
    {
        margin-top: 2rem;
        font-size: 10px;
    }
    .content-section
    {
        margin-top: -10rem;
    }
}

@media screen and (max-width: 480px) {
    .hero-section h2.font-resto {
        font-size: 2rem; /* Encore plus petit pour les très petits écrans */
    }

    .hero-section h1.font-roboto {
        font-size: 3rem; /* Encore plus petit pour les très petits écrans */
    }
}
