
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Background */
*
{
    font-family: "Roboto", serif;
    scroll-behavior: smooth;
}

.hero-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/img-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Header */

.font-resto
{
    font-family: "Allura", serif;
}

.font-roboto
{
    font-family: "Roboto", serif;
}

/* Hero section */

.content-subtitle
{
    font-size: 8rem;
    letter-spacing: 1rem;
}

.hero-section h2.font-resto {
    font-size: 5rem;
}

.book-button
{
    background-color: transparent;
    border: 2px solid white;
    margin-top: 4rem;
    color: white;
}

.book-button:hover
{
    transition: all 0.4s;
    background-color: white;
    color: black;
}

.content-title
{
    color: #875b3d;
    font-size: 3rem;
}

.store-card
{
    width: 80%;
}

.discover-content
{
    padding: 4rem;
    height: auto;
}

/* Footer Styles */

.text-brown {
    color: #875b3d;
}

.social-link {
    transition: all 0.3s ease;
}

.social-link:hover {
    color: #875b3d !important;
    transform: translateY(-5px);
}

.social-icons {
    margin-top: 1rem;
}

footer ul li i {
    min-width: 25px;
}

/* Menu page */

.nav-pills .nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: #92623f;
}

.nav-pills .nav-link:hover {
    color: black;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .hero-section h2.font-resto {
        font-size: 2.5rem;
    }

    .hero-section h1.font-roboto {
        font-size: 3.5rem;
    }
    .book-button
    {
        margin-top: 2rem;
        font-size: 10px;
    }
    .content-section
    {
        margin-top: -10rem;
    }
    .discover-content
    {
        padding: 1.5rem;
    }
    .img-services
    {
        width: 100px;
        height: 100px;
    }
    footer h3 {
        text-align: center;
    }
    footer .social-icons {
        justify-content: center;
    }
    footer ul {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .hero-section h2.font-resto {
        font-size: 2rem;
    }

    .hero-section h1.font-roboto {
        font-size: 3rem;
    }
}
